# Only the integration fixture's inputs belong in its build context.
*
!lib/
!lib/**
!extensions/
!extensions/**
!bin/
!bin/install
!bin/libman
!scripts/
!scripts/**
!test/bin/
!test/bin/**
!test/
!test/container/
!test/container/**
!test/integration/
!test/integration/**
!test/lib/
!test/lib/net.bats
!test/lib/core.bats
!test/lib/data.bats
!test/lib/opt.bats
!test/lib/os.bats
!test/lib/fs.bats
!test/lib/hash.bats
!test/lib/cmp.bats
!test/extensions/
!test/extensions/secret.bats
!test/bats/
!test/bats/**
**/.git
