name: "Continuous Integration"

permissions: read-all

on:
  push:
    branches:
      - "**"
    paths:
      - "test/**"
      - "scripts/**"
      - "lib/**"
      - "bin/**"
  pull_request:
    branches:
      - "**"
    paths:
      - "test/**"
      - "scripts/**"
      - "lib/**"
      - "bin/**"

defaults:
  run:
    shell: bash

concurrency:
  group: "${{ github.workflow }}@${{ github.event.pull_request.head.label || github.head_ref || github.ref }}"

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: "recursive"
          token: "${{ github.token }}"

      - name: Set up BATS
        uses: bats-core/bats-action@3.0.0

      - name: Run BATS tests
        run: |
          bats -r ${{ github.workspace }}/test/lib
